# Git
.git
.gitignore
.git/
.gitignore

# Next JS
.next/
node_modules/
proxy/

# Docker
.docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/